// Define variables for your color scheme
$blue: #e6f2ff;
$pink: #df928e;
$light-pink: #c58882;
$black: #32B796;
$yellow:#FDB631;




// For example:
$red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
