.form-design {
    display: block;
    margin-top: 70px;
    margin-left: 583px;
    margin-right: 450px;
    width: 530px;
    line-height: 26px;
    font-size: 14px;
    box-shadow: none;
    color: #848484;
    text-transform: capitalize;
    background:#e8e8e8;
    padding: 24px 19px;
    border-radius: 0;
}

