.card-container {
  font-family: "Raleway", "Helvetica", "sans-serif";
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 3vh;
  padding: 1vh;
  border-radius: 2rem;
  height: 450px;
}
.btn {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  margin-bottom: 20px;
}
