<div>
  <video autoplay loop class="fillWidth">
    <source  src="<%= video_url("Orange-Ripple.mp4") %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="<%= video_url("Orange-Ripple.webm") %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
  <div class="banner-absolute-container">
    <div class="banner">
      <div class="banner-content">
        <h1 class="big-h1"><strong>Réservez une piscine près de chez vous</strong></h1>
        <p class="scd-h1">Plus calme, plus chaleureux, plus convivial.</p>
         <%=  link_to "Liste des piscines", pools_path, class: "btn btn-medium" %>
      </div>
    </div>
  </div>
</div>
