.btn {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  margin-bottom: 20px;



  // margin-left: 200px;
}
// .btn-medium:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: #999999;
// }
