// .form-design{
//     display: block;
//     width: 530px;
//     line-height: 26px;
//     font-size: 14px;
//     box-shadow: none;
//     color: #848484;
//     text-transform: capitalize;
//     background:#f7f7f7;
//     padding: 24px 19px;
//     border-radius: 0;
// }

.my-input {
  color: #999999;
  border-color: #999999;
  border-radius: 50px;
}
.my-label {
   color: #999999;
  border-color: #999999;
  border-radius: 50px;

}
