// .form {
//     display: block;
//     margin-top: 300px;
//     margin-left: 450px;
//     margin-right: 450px;

// }

// .justify-content-center {
//   -webkit-box-pack: center!important;
// }


.form {
    display: block;
    margin-top: 70px;
    margin-left: 450px;
    margin-right: 450px;
    width: 530px;
    line-height: 26px;
    font-size: 14px;
    box-shadow: none;
    color: #848484;
    text-transform: capitalize;
    background:#f7f7f7;
    padding: 24px 19px;
    border-radius: 0;
}

