.form-control {
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 2.5vh !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    color: rgb(72, 72, 72) !important;
    cursor: pointer !important;
    display: inline !important;
    height: 48px !important;
    text-align: left !important;
    position: relative !important;
    width: 100% !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    background: rgb(255, 255, 255) !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    border-radius: 5px !important;
    padding: 7px 8px !important;
    overflow: hidden !important;
    outline: none !important;
}
